/*@font-face {*/
/*	font-family: 'Alvi Nastaleeq';*/
/*	src: url('Alvi Nastaleeq Regular.ttf');*/
/*	font-display: swap;*/
/*}*/

@font-face {
	font-family: 'UL Sajid Heading';
	src: url('UL%20Sajid%20Heading%20Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Mehr Nastaliq Web';
	src: url('Mehr_Nastaliq_Web.ttf');
	font-display: swap;
}
